[submodule "rp-opi"]
	path = rp-opi
	url = https://baltig.infn.it/lnf-da-control/redpitaya-ioc.git
[submodule "timing/phoebus_mrf_interface"]
	path = timing/phoebus_mrf_interface
	url = https://baltig.infn.it/lnf-da-control/phoebus_mrf_interface.git
[submodule "diag/libera-bpm-opi"]
	path = diag/libera-bpm-opi
	url = https://baltig.infn.it/infn-epics/libera-bpm-opi.git
[submodule "diag/orbit"]
	path = diag/orbit
	url = https://baltig.infn.it/lnf-da-control/epics-orbit-opi.git
[submodule "common/camera"]
	path = common/camera
	url = https://baltig.infn.it/infn-epics/camera-opi.git
[submodule "RF/menloOpi"]
	path = RF/menloOpi
	url = https://baltig.infn.it/infn-epics/menloOpi.git
[submodule "RF/sparc-rf-opi"]
	path = RF/sparc-rf-opi
	url = https://baltig.infn.it/lnf-da-control/sparc-rf-opi.git
