[submodule "rp-opi"]
	path = rp-opi
	url = https://baltig.infn.it/lnf-da-control/redpitaya-ioc.git
[submodule "timing/phoebus_mrf_interface"]
	path = timing/phoebus_mrf_interface
	url = https://baltig.infn.it/lnf-da-control/phoebus_mrf_interface.git
[submodule "diag/libera-bpm-opi"]
	path = diag/libera-bpm-opi
	url = https://baltig.infn.it/infn-epics/libera-bpm-opi.git
[submodule "diag/orbit"]
	path = diag/orbit
	url = https://baltig.infn.it/lnf-da-control/epics-orbit-opi.git
[submodule "common/camera"]
	path = common/camera
	url = https://baltig.infn.it/infn-epics/camera-opi.git
[submodule "RF/menloOpi"]
	path = RF/menloOpi
	url = https://baltig.infn.it/infn-epics/menloOpi.git
[submodule "RF/sparc-rf-opi"]
	path = RF/sparc-rf-opi
	url = https://baltig.infn.it/lnf-da-control/sparc-rf-opi.git
[submodule "matlab-routines/matlab_sparcroutines"]
	path = matlab-routines/matlab_sparcroutines
	url = https://baltig.infn.it/pompilir/matlab_sparcroutines.git
[submodule "common/motor-tml"]
	path = common/motor-tml
	url = https://baltig.infn.it/infn-epics/motor-tml-opi.git

[submodule "MAG/mag-opi"]
	path = MAG/mag-opi
	url = https://baltig.infn.it/infn-epics/mag-opi.git
[submodule "common/icpdas-opi"]
	path = common/icpdas-opi
	url = https://baltig.infn.it/infn-epics/icpdas-opi.git
[submodule "MAG/unimag"]
	path = MAG/unimag
	url = https://baltig.infn.it/infn-epics/unimag.git
[submodule "VAC/vac-opi"]
	path = VAC/vac-opi
	url = https://baltig.infn.it/infn-epics/vac-opi.git
[submodule "timing/mrf230-opi"]
	path = timing/mrf230-opi
	url = https://baltig.infn.it/infn-epics/mrf230-opi.git
[submodule "epik8s-opi"]
	path = epik8s-opi
	url = https://github.com/infn-epics/epik8s-opi.git
