- name: Perform git update on directories
  hosts: eli_consoles
  remote_user: root
  vars:
    ansible_ssh_pass: "{{ lookup('env', 'ELI_UPDATE') }}"
  #  git_repo_token: "{{ lookup('env', 'GIT_REPO_TOKEN') }}"  # Ensure this token is defined
    ansible_python_interpreter: /usr/bin/python3
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o ControlMaster=no'

  tasks:
    - name: Disable host key checking
      set_fact:
        ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o ControlMaster=no'
    - name: Apply ansible-epics-console-role
      ansible.builtin.import_role:
        name: ansible-epics-console-role
      vars:
        python_version: "" ## use default if any
        phoebus_version: "5.0.2"
        phoebus_url: "https://github.com/ControlSystemStudio/phoebus/releases/download/v5.0.2/phoebus-5.0.2-linux.tar.gz"
        opi_repos:
          - url: "https://github.com/infn-epics/epik8s-eli.git"
            dest: "epik8s-eli"
            opi_main: opi/Launcher.bob
            opi_settings: opi/settings_template.ini
            default: true
            opi_user: eliuser 
        
        nfsMounts:
          - name: data
            server: plelinpsto001.int.eli-np.ro
            path: /epik8s_data/data
            mountPath: /nfs/data
          - name: autosave
            server: plelinpsto001.int.eli-np.ro
            path: /epik8s_data/autosave
            mountPath: /nfs/autosave
          - name: config
            server: plelinpsto001.int.eli-np.ro
            path: /epik8s_data/config
            mountPath: /nfs/config

        dnsnames:
          - name: "eli-docs.int.eli-np.ro"
            ip: 10.16.4.200